body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 16px;
  box-sizing: border-box;
  background-color: rgb(193, 246, 255);
}

h3 {
  margin: 0;
  margin-bottom: .8rem;
}

p {
  margin: .5rem 0;
}

label {
  font-size: .9rem;
  color:rgb(75, 75, 75);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

label span {
  margin-bottom: .3rem;
}

input[type='text'],
input[type='date'] {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: .8rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.10), 0 2px 2px rgba(0,0,0,0.11);
  margin-bottom: 1.2rem;
  width: 100%;
}

input:hover,
input:focus {
  outline: none;
  border: 1px solid darkcyan;
}

button {
  box-sizing: border-box;
  border: none;
  background-color:rgb(4, 69, 155);
  color: #fff;
  padding: .8rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.10), 0 2px 2px rgba(0,0,0,0.11);
}

main {
  width: 70vw;
  min-width: 500px;
  max-width: 900px;
  margin: 2rem auto;
}

.form-wrapper {
  width: 90%;
  margin: 0 auto 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
}

.form__time {
  display: flex;
  align-items: center;
}

.form__time label {
  flex: 1;
}

.form__time .separator {
  margin: 0 1rem;
}

.alarms {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.alarms__active,
.alarms__old {
  flex: 1;
}

.alarms__active {
  margin-bottom: 2rem;
}

.alarms__active .alarm {
  background: #fff;
  border-radius: 5px;
}
.alarms__old .alarm {
  background: rgb(223, 223, 223);
  border-radius: 5px;
}

.alarm {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: .5rem;
  font-size: .9rem;
}

.alarm .text {
  flex: 1;
  margin: 0;
  margin-left: 1rem;
}

.alarm button {
  padding: .5rem .8rem;
  font-size: .8rem;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.10), 0 2px 2px rgba(0,0,0,0.11);
}

.alarm button:first-of-type {
  margin-right: .5rem;
}